input[type="file"] {
	display: none !important;
}

.frmb.stage-wrap {
	background: #fff;
}

div[contenteditable="true"] {
	background: transparent !important;
	border: 0 !important;
	border-radius: 0 !important;
	border-bottom: 1px solid #000 !important;
	box-shadow: unset !important;
}

.upload-files {
	margin: 6px 0;
	border: 1px solid #43AAC7;
	border-radius: 4px;
	padding: 5px 10px;
	background-color: #43AAC7;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.file-names {
	margin-right: 10px;
	border: 1px solid #43AAC7;
	border-radius: 4px;
	padding: 5px 10px;
	background-color: #43AAC7;
	font-size: 16px;
}

.filebox {
	display: inline-flex;
	margin: 4px 10px 6px 0;
}

.filebox>* {
	border: 1px solid #43AAC7;
	padding: 5px 10px;
	background-color: #43AAC7;
	cursor: pointer;
}

.filebox a {
	margin-right: 1px;
	max-width: 150px;
	border-radius: 4px 0 0 4px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: #000;
}

.filebox div {
	border-radius: 0 4px 4px 0;
}

.formbuilder-checkbox {
	display: table;
}

.signbox {
	display: flex;
	min-height: 60px;
	align-items: center;
}

.signbox .signedby {
	margin: 0 40px;
}

.signbox img {
    margin: 0 5px 0 40px;
    width: 200px;
    height: 100px;
}

.signbox a {
	text-decoration: underline;
}

.form-wrap.form-builder .stage-wrap.empty::after {
	content: 'Drag and drop components to build your form';
	text-align: right;
	margin: 0 0 0 -75px;
	font-weight: bold;
}

ul.frmb-control li {
	display: block;
}

ul.frmb-control li span {
	font-weight: normal;
}

.frmb .sortable-options>li {
	margin: 0px !important;
}

.form-field:not(.paragraph-field) .field-label,
.form-group>label {
	font-weight: bold !important;
	color: #23262F !important;
}